body, html {
  height: 100%;
  margin: 0;
  font-family: Arial, sans-serif;
  color: #ffffff;
  background: #121212;
}

body {
  background-image: url('assets/bg.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
}

#playButton {
  padding: 20px;
  font-size: 1.2rem;
  color: #ffffff;
  background-color: #333333;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

#playButton:disabled {
  background-color: #555555;
  cursor: not-allowed;
}

#subtitle {
  margin-top: 20px;
  font-size: 1.1rem;
  color: #cccccc;
  position: relative;
  bottom: 20px;
}

.redirect-button {
  position: absolute;
  top: 10px;
  right: 10px;
}

.redirect-button button {
  padding: 10px;
  font-size: 1rem;
  color: #ffffff;
  background-color: #444444;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}
